.container {
  padding: 2em 0 2em 0;
  width: 100%;
  min-height: 90vh;
  display: flex;
  background: var(--back);

  a {
    text-decoration: none;

    &:visited {
      text-decoration: none;
      color: #0000EE;
    }
  }

  @media (max-width: 440px) {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 70%;
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
  
    .title {
      width: 100%;
      height: 50px;
      margin-bottom: 1em;
      
      .ti {
        margin: 1em 0 0 4.5em;
        font-size: 24px;
        font-weight: 450;

        span {
          font-weight: 600;
        }
      }
    }
  
    .window {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
    }

    .crashSearch {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2em;
      gap: 1em;

      span {
        font-size: 1.5em;
        font-weight: 700;
      }
    }
  }
}