.body {
  width: 100vw;
  min-height: 83vh;
  display: flex;
  justify-content: center;
  background: var(--back);

  .main {
    width: 74%;
    min-height: 100%;
  
    .titleCart {
      margin: 1.2em 0 1.2em 0;
      font-weight: 400;
    }
  
    .cart {
      padding: 1em;
      border-radius: 8px;
      background: #e2e5f6;
  
      .totalCart {
        display: flex;
        /* gap: 31em; */

        .st {
          flex-basis: 41%;
          flex-shrink: 0;
        }
  
        h3 {
          font-weight: 400;
          flex-basis: 33%;
          flex-shrink: 0;
          
          span {
            font-weight: 600;
          }
        }
      }
  
      .container {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
  
  
        .card {
          width: 55%;
          display: flex;
          align-items: center;
          gap: 1.5em;
          border: 1px solid transparent;
          border-radius: 8px;
          transition: all .4s;

          &:hover {
            border: 1px solid var(--purple);
          }
  
          .image {
            display: flex;

            .img {
              border-radius: 8px;
            }
          }
  
          .description {
            width: 54%;
            height: 100%;
            gap: .5em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            h4 {
              font-size: 1.2em;
            }

            .price {
              display: flex;

              h5 {
                font-size: 1.15em;
                color: var(--green);
              }

              span {
                font-size: .9em;
                text-decoration: line-through;
                color: var(--grey);
                font-weight: 600;
                margin-left: 2em;
              }
            }
          }
  
          .btn {
            width: 9%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--card);
            border: 1px solid var(--purple);
            border-radius: 8px;
            padding: .2em;
            gap: .5em;
  
            p {
              font-size: .8em;
            }
  
            button {
              cursor: pointer;
              border: none;
              font-size: 1.2em;
            }
          }
          .close {
            font-size: 1.1em;

            button {
              cursor: pointer;
              font-size: 1em;
              background: none;
              border: none;
            }
          }
        }
      }

      .emptyCart {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    @keyframes slideDown {
      0% {
        top: -100px;
        opacity: 0;
      }
      100% {
        top: 10px;
        opacity: 1;
      }
    }
  
    .aviso {
      position: fixed;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--warn);
      color: var(--tex);
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      opacity: 0;
      animation: slideDown .5s ease-out forwards;
    }
  }
}