@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: "Rubik";
}

:root {
  --prim: #a9ddef;
  --tex: #fdfdfd;
  --back: #e0e1ff;
  --card: #f0f4f5;
}